<h1>Update a photo</h1>

<form action = "http://localhost:3000/update_photo/<%= @photo.id %>">
  <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" type="text" name="the_caption" value=<%= @photo.caption  %>>
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" name="the_source" value=<%= @photo.source %>>
  </div>
  <div>
    <input type="submit" value="Update photo">
  </div>
</form>
